<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctiondeploye1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd718155-f3a7-4748-8eb3-b8a28fa70f63/resourcegroups/RGQasim/providers/Microsoft.Web/sites/AzureFunctionDeploye1</ResourceId>
    <UserName>$AzureFunctionDeploye1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctiondeploye1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>